extends blocks/base.pug

block title 
	title Главная

block style-libs
	link(rel="stylesheet", href="css/libs/slick.css")

block content

	.page

		.content

			// welcome
			section.welcome
				.welcome__container
					.welcome__content 
						.welcome__text IX Всероссийская научно-практическая <br>конференция по проблемам изучения и преподавания <br>русского языка в России на современном этапе
						h1.welcome__title Методика обучения русскому <br>языку в контексте ФГОС
						.welcome__date 25 - 26 ноября 2021 года 
						.welcome__btn Дистанционный формат 
					.welcome__sticker 
						.welcome__desc Ведущий конференции:
						.welcome__name И. П. Цыбулько,
						.welcome__subtext ведущий научный <br>сотрудник ФГНУ «ФИПИ», <br>к. п. н.
				.welcome__subdesc 
					span Программа реализуется совместно с Издательством «Национальное образование»
					img(src="img/nacobr.png", alt="")
			// /welcome

			// topics
			section.topics
				.wrapper
					h2.title В рамках конференции планируется освещение следующих вопросов:
					.topics__item.topics__item--1
						.topics__text Реализация единых подходов к формированию и оцениванию основных видов речевой деятельности
						.topics__num 1
					.topics__item.topics__item--2
						.topics__num 2
						.topics__text Изменения в государственной итоговой аттестации по русскому языку в контексте единых подходов к формированию и развитию основных видов речевой деятельности 
					.topics__item.topics__item--1
						.topics__text Основные направления совершенствования государственной итоговой аттестации по русскому языку 
						.topics__num 3
					.topics__item.topics__item--2
						.topics__num 4
						.topics__text Школьный контроль на современном этапе / специфика и интерпретация результатов
					.topics__item.topics__item--1
						.topics__text Тематический контроль по русскому языку / научно-методические подходы к созданию контрольных измерительных материалов для тематического контроля
						.topics__num 5
					.topics__item.topics__item--2
						.topics__num 6
						.topics__text Подходы к измерению динамики обученности по предмету 
					.topics__item.topics__item--1
						.topics__text Соотношение традиций и инновационных подходов в методике преподавания русского языка 
						.topics__num 7
			// /topics

			// spickers
			section.spickers
				.wrapper
					h2.title CПИКЕРЫ, принимающие участие в конференции:
					.spickers__slider
						#sliderSpickers
							.spickers__item
								.spickers__img 
									img(src="img/photo_1.png", alt="")
								.spickers__content
									.spickers__name Цыбулько И. П. 
									.spickers__text Ведущий научный сотрудник ФГБНУ «ФИПИ», руководитель комиссии разработчиков  КИМ для проведения ГИА по образовательным программам основного общего и среднего общего образования по русскому языку
							.spickers__item
								.spickers__img 
									img(src="img/photo_2.png", alt="")
								.spickers__content
									.spickers__name Тишина Н. И.
									.spickers__text Руководитель Центра дополнительного образования Федерального государственного бюджетного образовательного учреждения высшего образования «Государственный институт русского языка им. А. С. Пушкина»
							.spickers__item
								.spickers__img 
									img(src="img/photo_3.png", alt="")
								.spickers__content
									.spickers__name Арутюнова Е. В.
									.spickers__text Старший научный сотрудник Института русского языка им. В. В. Виноградова РАН, кандидат филологических наук, зам. главного редактора портала «Грамота.ру», член Орфографической комиссии РАН
							.spickers__item
								.spickers__img 
									img(src="img/photo_4.png", alt="")
								.spickers__content
									.spickers__name Федорова Н. А. 
									.spickers__text Кандидат филологических наук, руководитель модуля Creative technologies, Университет ИТМО
							.spickers__item
								.spickers__img 
									img(src="img/photo_5.png", alt="")
								.spickers__content
									.spickers__name Крайник O. М. 
									.spickers__text Начальник Учебно-методического управления ФГБОУ ВО «Алтайский государственный университет», член комиссии по разработке КИМ для ГИА по русскому языку
							.spickers__item
								.spickers__img 
									img(src="img/photo_6.png", alt="")
								.spickers__content
									.spickers__name Александров В. Н.
									.spickers__text Учитель русского языка и литературы муниципального общеобразовательного учреждения «Рощинская средняя общеобразовательная школа», кандидат педагогических наук
							.spickers__item
								.spickers__img 
									img(src="img/photo_7.jpg", alt="")
								.spickers__content
									.spickers__name Иванов С. Л.
									.spickers__text Заведующий кафедрой, учитель русского языка общеобразовательной автономной некоммерческой организации «Школа «Летово», кандидат педагогических наук
			// /spickers

			// banner1
			.banner1
				.wrapper 
					.banner1__block 
						span Целевая аудитория: 
						| учителя русского языка образовательных организаций общего образования, сотрудники институтов развития образования, институтов повышения квалификации, педагогических университетов и других образовательных организаций, осуществляющих подготовку, переподготовку и повышение квалификации учителей русского языка.
			// /banner1

			// banner2
			.banner2
				.wrapper
					.banner2__block
						| Ознакомиться с условиями участия в конференции и пройти регистрацию необходимо
						span до 25 ноября 2021 года
						| на странице мероприятия по ссылке: 
			// /banner2

			// banner3
			.banner3
				.wrapper 
					.banner3__block 
						.row 
							.banner3__col
								p По вопросам, связанным с проведением конференции, вы можете обращаться по электронному адресу 
									a(href="mailto:conf@nobr.ru") conf@nobr.ru
									|  или по телефону 
									a(href="tel:+74957880075") +7 (495) 788-00-75
									|  (доб. 1025).Контактное лицо: Майорова Мария Анатольевна. 
							.banner3__col
								img(src="img/sale.png", alt="").banner3__img
			// /banner3

			// tariffs
			.tariffs
				.wrapper 
					.row 
						.tariffs__col
							a(href="https://iteach.niko.institute/courses/program.xhtml?faces-redirect=true&pid=36832")
								.tariffs__head
									| Пакет 
									span Стандарт
								ul.tariffs__list 
									li сертификат участника
									li доступ к онлайн - конференции
									li информационные материалы
								.tariffs__price 6500
						.tariffs__col
							a(href="https://iteach.niko.institute/courses/program.xhtml?faces-redirect=true&pid=36841")
								.tariffs__head
									| Пакет 
									span ИНТЕНСИВ
								ul.tariffs__list 
									li включает опции пакета «Стандарт»
									li курс повышения квалификации
									li удостоверение о повышении квалификации 
									li запись в ФИС ФРДО
								.tariffs__price 8500
					.tariffs__text Будем рады видеть вас в числе участников конференции!
			// /tariffs

block js-libs
	script(src="js/libs/jquery.min.js")
	script(src="js/libs/slick.min.js")