.welcome {
  &__container {
    padding: 5.6em 0 1.4em;
    background-image: url(../img/welcome-bg.jpg);
    background-color: #A27D46;
    background-size: cover;
    background-position: right;
    position: relative;
  }
  &__content {
    text-align: center;
    width: 47em;
    margin-left: 0.2em;
    letter-spacing: -0.1em;
  }
  &__text {
    color: $red;
    font-size: 1.8em;
    margin-bottom: 0.2em;
  }
  &__title {
    color: #fff;
    font-size: 3.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }
  &__date {
    color: $red;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1.2em;
  }
  &__btn {
    display: inline-block;
    background-color: #864318;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #FDDB79;
    text-transform: uppercase;
    padding: 0.3em 1.5em;
    text-align: center;
  }
  &__sticker {
    width: 14em;
    height: 14em;
    padding-top: 2.8em;
    padding-left: 2em;
    background-color: #F0B044;
    border-radius: 100%;
    position: absolute;
    right: 0.5em;
    bottom: 2em;
    background-image: url(../img/flower.png);
    background-repeat: no-repeat;
    background-size: 5em;
    background-position: center bottom -1em;
  }
  &__desc {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.4em;
  }
  &__name {
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.3em;
  }
  &__subtext {
    font-size: 1em;
    color: #fff;
  }
  &__subdesc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.2em 0.5em;
    span {
      font-size: 0.6em;
      margin-right: 1.4em;
    }
    img {
      width: 6.8em;
    }
  }
  @media (max-width: $break_sm) {
    &__container {
      background-position: right -37em top;
      background-repeat: no-repeat;
    }
    &__content {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    &__text {
      font-size: 2.9em;
    }
    &__title {
      font-size: 4em;
    }
    &__date {
      font-size: 3.2em;
    }
    &__btn {
      font-size: 2.5em;
    }
    &__sticker {
      width: 22em;
      height: 22em;
      bottom: -6em;
      padding-top: 4.8em;
      padding-left: 3em;
      background-size: 7em;
    }
    &__desc {
      font-size: 1.6em;
    }
    &__name {
      font-size: 2em;
    }
    &__subtext {
      font-size: 1.7em;
    }
    &__subdesc {
      justify-content: flex-start;
      span {
        font-size: 1em;
      }
      img {
        width: 12em;
      }
    }
  }
}